include *.txt *.md *.rst
recursive-include tests *.pcap *.py
include docs Makefile
recursive-include docs *.rst *.conf *.svg *.ico *.py *.pdf
recursive-include conf *.yml
recursive-include mibs *.txt *.mib
prune docs/build
