[Unit]
Description=RtBrick SNMP Adaptor
After=network.target auditd.service

[Service]
ExecStart=/usr/local/bin/bds-snmp-adaptor --config /etc/bdssnmpadaptor/bds-snmp-adaptor.yml
ExecStop=/usr/bin/killall bds-snmp-adaptor
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
